.div1-search{
    width: 25%;
    color: white;
    border-right:1px solid #444444 ;
    height: 92vh;

}

.div2-search{
    width: 75%;
    display: flex;
    justify-content: center;

}

.option-filter-div2 p{
    padding: 10px;
}
.option-filter-div2 p:hover{
   background-color: #444444;
   cursor: pointer;
}
@media only screen and (max-width: 1040px) {
    .div1-search{
        display: none;
    }
    .div2-search{
        width: 100%;
    }

  }
  .option-filter-div2{
    display: none;
    color: white;
    border-bottom:1px solid #444444 ;
    font-size: 15px;
    gap: 10px;
}
@media only screen and (max-width: 1040px) {
   
    .option-filter-div2{
        display: block;
    }
  }
.div1-search h1{
    font-size: 30px;
    font-weight: bold;
}
.div1-title{
    padding: 10px;
    border-bottom: 1px solid #444444;
}
.option-filter{
    font-size: 20px;
}
.option-filter p{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.option-filter p:hover{
   background-color: #444444;
   cursor: pointer;
}
.option-filter h2{
    padding: 10px;
}
.option-filter i{
    font-size: 25px;
}
.container-content{
    width: 600px;
}
.list-item-search{
    color: white;
    padding: 10px;

}
.list-item-search:hover{
    background-color: #444444;
    cursor: pointer;
    
}
.name-friend p{
    font-size: 12px;

}
.name-friend p:first-child{
    font-size: 15px;
    font-weight: bold;
}
.btn-friend{
    display: flex;
    gap: 5px;
}
.btn-friend button{
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
}
.online{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(34, 221, 34);
    border-radius: 10px;
    bottom: 0;
    left: 38px;
}
.aldjnasd{
    background-color: #222222;
}