<main>
    <div class="nav">
        <div class="menu">
        <ul>
        <li routerLink="/profileme"><img src="{{profileuser?.avatar}}" alt="">{{profileuser?.username}}</li>
        <li><i class="bi bi-people-fill"></i>bạn bè</li>
        <li><i class="bi bi-clipboard-heart-fill"></i>kỷ niệm</li>
        <li><i class="bi bi-bookmark-check-fill"></i>đã lưu</li>
        <li><i class="fa-solid fa-users"></i>nhóm</li>
        <li><i class="bi bi-file-earmark-play"></i>video</li>
        <li><i class="fa-solid fa-shop"></i>marketplace</li>
        <li><i class="bi bi-journal-text"></i>bảng feed</li>
        <li><i class="bi bi-chevron-compact-down"></i>xem thêm</li>
    </ul>
        </div>
            <div class="group"> 
                <p>lối tắt của bạn </p>
                <ul>
                    <li><img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">nhóm 1</li>
                    <li><img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">nhóm 2</li>
                    <li><img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">nhóm 3</li>
                    <li><img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">nhóm 4</li>
                    <li><img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">nhóm 5</li>
                    <li><img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">nhóm 1</li>
                    <li><img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">nhóm 1</li>
                    <li><img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">nhóm 1</li>
                    <li><i class="bi bi-chevron-compact-down"></i>xem thêm</li>
                </ul>
            </div>
 
    </div>



    <div class="content">
                <!-- story -->

       <div class="story" [ngStyle]="{'left.px': position}">
            <ul>
                <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien" style="background-color: rgb(86, 83, 80);">
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">
                        <p> Tạo tin</p>
                   
                    </li>
    
                    <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien">
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">

                    </li>
                    <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien" style="background-color: rgb(86, 83, 80);">
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">

                    </li>           
                    <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien" >
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">

                    </li>
                    <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien">
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">

                    </li>  
                    <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien">
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">

                    </li>  
                     <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien">
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">

                    </li>  
                     <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien">
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">

                    </li>   
                    <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien">
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">

                    </li>   
                    <li>
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhdaidien">
                        <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" class="anhstory">

                    </li>
                
    
            </ul>
      
       


       </div>
       <div  *ngIf="trove" class="xemthems" (click)="quaylai()" ><i class="bi bi-arrow-left"></i></div>
       <div class="xemthem" (click)="togglePosition()"><i class="bi bi-arrow-right-short"></i></div>

        <!-- tạo bài -->

       <div class="addblog">
        <div class="blog">
            <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
            <input type="text" placeholder="bạn nghĩ gì">
        </div>
        <div class="optionblog">
            <ul>
                <li><i class="fa-solid fa-video"></i>video trực tiếp</li>
                <li><i class="fa-solid fa-image"></i>ảnh </li>
                <li><i class="fa-solid fa-face-smile"></i>cảm xúc/hoạt động</li>
            </ul>
        </div>
        <!-- bài đăng -->
       </div>

       <div class="newfeed">
        <div class="thongtin">
            <div class="hinhanh">           
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
                <div class="hienonl"></div>
               
            </div>
            <div class="chitietthongtin">
                <div>
                    <p>name</p>
                    <h6>1 ngày trc</h6>
                </div>
            </div>
            <div class="luachon">
                <i class="bi bi-list"></i>
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <div class="baidang">
            <p class="noidungbaidang">
                 bài đăng này cực hay nhé mọi người:
                Giải Thích
.image-container:

overflow: hidden; đảm bảo rằng bất kỳ phần nào của hình ảnh bị phóng to ra ngoài vùng chứa sẽ bị ẩn đi, giúp hình ảnh không bị tràn ra ngoài container.
position: relative; (nếu cần) cho phép bạn định vị các phần tử con (như hình ảnh) một cách chính xác trong container.
.zoom-image:

transition: transform 0.3s ease; tạo hiệu ứng mượt mà khi hình ảnh thay đổi kích thước. transform là thuộc tính chính để áp dụng hiệu ứng thay đổi kích thước.
.image-container:hover .zoom-image:

transform: scale(1.1); áp dụng hiệu ứng phóng to hình ảnh khi người dùng di chuột qua phần tử .image-container. Giá trị 1.1 có nghĩa là hình ảnh sẽ được phóng to lên 10% so với kích thước gốc.
            </p>
            <div class="hinhanhbaidang">
                <img src="https://i.imgur.com/qV5uuOz.jpg" alt="">
            </div>
            <div class="luotlike">
                <div class="cacicon">            
                    <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                    <i class="fa-solid fa-heart" style="color: red;"></i>
                    <p class="xemlike">bạn và 40 người khác</p>
                </div>
                <div  class="xembl" (click)="mobinhluan()">
                    10 bình luận
                </div>
                <div class="xemshare">
                    9 luọt chia sẻ
                </div>
            </div>
            <div class="like">
                
                <div class="handdlike" 
                (mouseenter)="onMouseEnter()" 
                (mouseleave)="onMouseLeave()"><i class="fa-regular fa-thumbs-up"></i> thích
                    <div class="allicon" *ngIf="showPopup">
                        <i class="fa-regular fa-thumbs-up" style="color: blue;"></i>
                        <i class="fa-regular fa-heart" style="color: red;"></i>
                        <i class="fa-regular fa-face-smile" style="color: yellow;"></i>
                        <i class="fa-regular fa-face-frown" style="color:orange;"></i>
                        <i class="fa-regular fa-face-angry" style="color: blueviolet;"></i>
                        <i class="fa-regular fa-face-surprise"  style="color: pink;"></i>
                    </div></div>
                <div class="handdcmt" (click)="mobinhluan()"><i class="fa-regular fa-comment"></i> bình luận</div>
                <div class="handdshare"><i class="fa-regular fa-share-from-square"></i> chia sẻ</div>

            </div>


        </div>
        
    </div>


       <div class="newfeed">
        <div class="thongtin">
            <div class="hinhanh">           
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" style="background-color: white;">
                <div class="hienonl"></div>

               
            </div>
            <div class="chitietthongtin">
                <div>
                    <p>name</p>
                    <h6>1 ngày trc</h6>
                </div>
            </div>
            <div class="luachon">
                <i class="bi bi-list"></i>
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <div class="baidang">
            <div class="noidungbaidang">
                bài đăng này cực hay
            </div>
            <div class="hinhanhbaidang">
                <img src="https://i.imgur.com/qV5uuOz.jpg" alt="">
            </div>
            <div class="luotlike">
                <div class="cacicon">            
                    <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                    <i class="fa-solid fa-heart" style="color: red;"></i>
                    <p class="xemlike">bạn và 40 người khác</p>
                </div>
                <div  class="xembl" (click)="mobinhluan()">
                    10 bình luận
                </div>
                <div class="xemshare">
                    9 luọt chia sẻ
                </div>
            </div>
            <div class="like">
                
                <div class="handdlike" 
                (mouseenter)="onMouseEnter()" 
                (mouseleave)="onMouseLeave()"><i class="fa-regular fa-thumbs-up"></i> thích
                    <div class="allicon" *ngIf="showPopup">
                        <i class="fa-regular fa-thumbs-up" style="color: blue;"></i>
                        <i class="fa-regular fa-heart" style="color: red;"></i>
                        <i class="fa-regular fa-face-smile" style="color: yellow;"></i>
                        <i class="fa-regular fa-face-frown" style="color:orange;"></i>
                        <i class="fa-regular fa-face-angry" style="color: blueviolet;"></i>
                        <i class="fa-regular fa-face-surprise"  style="color: pink;"></i>
                    </div></div>
                <div class="handdcmt" (click)="mobinhluan()"><i class="fa-regular fa-comment"></i> bình luận</div>
                <div class="handdshare"><i class="fa-regular fa-share-from-square"></i> chia sẻ</div>

            </div>


        </div>
     
    </div>




       <div class="newfeed">
        <div class="thongtin">
            <div class="hinhanh">           
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="" style="background-color: rgb(102, 103, 104);">

               
            </div>
            <div class="chitietthongtin">
                <div>
                    <p>name</p>
                    <h6>1 ngày trc</h6>
                </div>
            </div>
            <div class="luachon">
                <i class="bi bi-list"></i>
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <div class="baidang">
            <div class="noidungbaidang">
                bài đăng này cực hay
            </div>
            <div class="hinhanhbaidang">
                <img src="https://i.imgur.com/qV5uuOz.jpg" alt="">
            </div>
            <div class="luotlike">
                <div class="cacicon">            
                    <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                    <i class="fa-solid fa-heart" style="color: red;"></i>
                    <p class="xemlike">con ghệ của bạn và 213 người khác</p>
                </div>
                <div  class="xembl" (click)="mobinhluan()">
                    10 bình luận
                </div>
                <div class="xemshare">
                    9 luọt chia sẻ
                </div>
            </div>
            <div class="like">
                
                <div class="handdlike" 
                (mouseenter)="onMouseEnter()" 
                (mouseleave)="onMouseLeave()"><i class="fa-regular fa-thumbs-up"></i> thích
                    <div class="allicon" *ngIf="showPopup">
                        <i class="fa-regular fa-thumbs-up" style="color: blue;"></i>
                        <i class="fa-regular fa-heart" style="color: red;"></i>
                        <i class="fa-regular fa-face-smile" style="color: yellow;"></i>
                        <i class="fa-regular fa-face-frown" style="color:orange;"></i>
                        <i class="fa-regular fa-face-angry" style="color: blueviolet;"></i>
                        <i class="fa-regular fa-face-surprise"  style="color: pink;"></i>
                    </div>
                </div>
                <div class="handdcmt" (click)="mobinhluan()"><i class="fa-regular fa-comment"></i> bình luận</div>
                <div class="handdshare"><i class="fa-regular fa-share-from-square"></i> chia sẻ</div>

            </div>


        </div>
       </div>

       <div class="formbinhluan" *ngIf="openbinhluan">
        <div class="baivietcuaai">
            <i></i>
            <h2>baif vieets cuar ai do</h2>
            <i class="fa-solid fa-xmark" (click)="dongbinhluan()"></i>

        </div>
        <div class="thongtinnguoivietbai">
                <div class="hinhanhnguoiviet">
                    <img src="https://i.imgur.com/qV5uuOz.jpg" alt="">

                </div>
                <div class="tennguoiviet">
                    <p>name</p>
                    <p>1 tiengs truoc</p>
                </div>
               
                <div class="tuychon">
                    <i class="bi bi-list"></i>
                </div>
         </div>
         <div class="anhbiaviet">
            <img src="https://i.imgur.com/qV5uuOz.jpg" alt="">
         </div>
         <div class="tuongtacbaiviet">
            <div class="camxucbaiviet">
                <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                <i class="fa-solid fa-heart" style="color: red;"></i>
                <p class="xemlike">bạn và 40 người khác</p>
            </div>
          
            <div class="sobinhluan" (click)="mobinhluan()">
                <p>700 bình luận</p>
            </div>
            <div class="sochiase">
                <p>90 luọt chia sẻ</p>
            </div>
         </div>

         <div class="tuongtacnguoidung">
            <div class="camxuc">
                <div class="handdlike" 
                (mouseenter)="onMouseEnter()" 
                (mouseleave)="onMouseLeave()"><i class="fa-regular fa-thumbs-up"></i> thích
                    <div class="allicon" *ngIf="showPopup">
                        <i class="fa-regular fa-thumbs-up" style="color: blue;"></i>
                        <i class="fa-regular fa-heart" style="color: red;"></i>
                        <i class="fa-regular fa-face-smile" style="color: yellow;"></i>
                        <i class="fa-regular fa-face-frown" style="color:orange;"></i>
                        <i class="fa-regular fa-face-angry" style="color: blueviolet;"></i>
                        <i class="fa-regular fa-face-surprise"  style="color: pink;"></i>
                    </div>
                </div>
            </div>
            <div class="binhluan" (click)="mobinhluan()">
                <i class="fa-regular fa-comment"></i>  bình luận
            </div>
            <div class="chiase">
                <i class="fa-regular fa-share-from-square"></i>chia sẻ
            </div>
         </div>
         <div class="docbinhluan">
            <div class="hinhnguoibinhluan">
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
            </div>
            <div class="chitietbinhluan">
                <div class="ok">
                    <p>name</p>
                    <p>bình luận aksjggggggg ádddddddddddd </p>
                </div>
                
            </div>
            <div>

            </div>
         </div>
         <div class="docbinhluan">
            <div class="hinhnguoibinhluan">
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
            </div>
            <div class="chitietbinhluan">
                <div class="ok">
                    <p>name</p>
                    <p>bình luận aksjggggggg ádddddddddddd </p>
                </div>
                
            </div>
            <div>

            </div>
         </div>

    
         <div class="formdienbinhluan">
            <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
            <form>

            <textarea placeholder="viết bình luận"></textarea>
             </form>

            <i class="fa-solid fa-paper-plane"></i>
         </div>
        </div>
    </div>




    
    <div class="noti">
        <div class="quangcao">
            <p>được tài trợ</p>
            <ul>
                <li class="thongtinquangcao"><img src="https://i.imgur.com/qV5uuOz.jpg" alt=""><h6>quảng cáo 1</h6></li>
                <li class="thongtinquangcao"><img src="https://i.imgur.com/qV5uuOz.jpg" alt=""><h6>quảng cáo 2</h6></li>
            </ul>
        </div>
        <div class="thongbao">
            <h4>sinh nhật</h4>
            <div class="thongtinsinhnhat">
                <i class="fa-solid fa-cake-candles"></i>
                <p>hôm nay là sinh nhật của hahaha</p>
            </div>            
        </div>
        <div class="banbedangonline" *ngIf="isfriendonline">
            <div class="tuychon">
                <div class="nguoilienhe">
                    <h4>người liên hệ</h4>

                </div>
                <div class="theli">
                    
                    <i class="bi bi-search"></i>
                    <i class="bi bi-list"></i>

                </div>

            </div>
            <div class="thongtinbanbe" *ngFor="let friend of isfriendonline" >
                <img src="{{friend.avatar}}" alt="" routerLink="/profileuser/{{friend._id}}">
                <div class="hienonl" *ngIf="friend.online === 1"></div>
                <p>{{friend.username}}</p>
            </div>
           
        </div> 
    </div>

</main>
