.video-story video{
  /* height: 90vh; */
  max-width: 50vw;
  max-height: 73vh;
  
}

.alekdjlask p{
  font-size: 12px;

}
.alekdjlask p:first-child{
  font-size: 15px;
  font-weight: bold;
}
.alkhdfjas i{
  font-size: 20px;

}
.ámdjas{
  border-bottom: 1px solid #555555;
}
.alkhdfjas{
  margin: 10px 10px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #555555;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div1-story{
  width: 25%;
  height: 83vh;
  overflow-y: scroll;
}
.div2-story{
  width: 50%;
}
.div3-story{
  width: 25%;
}
.div1-story div:hover{
  background-color: #555555;
  cursor: pointer;
}
.eknddasdas i{
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
}
.eknddasdas i:hover{
  background-color: #555555;
  cursor: pointer;
  transform: scale(1.1) ;
  transition: transform 0.3s ease; /* Hiệu ứng mượt mà */

  
}
.eknddasdas{
  
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #262628;
  border-radius: 10px;
}
.akjshdjasdjsajk i{
  font-size: 25px;
}
.akjshdjasdjsajk .aksdklasdkl{
  background-color: #555555;
  border-radius: 10px;
  padding: 5px;
  z-index: 500;
}
.akjshdjasdjsajk .aksdklasdkl:hover{
  cursor: pointer;
}
