main{
    width: 100%;
    position: absolute;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 20% 80%;

}
.phan1{
    background-color: #222222;
    height: 92vh;
    overflow: hidden;
    top: 70px;
    color: white;

    position: sticky;
}
.phan1 .tieude{
   margin: 10px;
   border-bottom: 1px solid #555555 ;
}
.phan1 .tuychonboloc ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.phan1 .tuychonboloc li{
    margin: 10px;
}
.phan1 .tuychonboloc li:hover{
    cursor: pointer;
    background-color: #555555;
}
.truonghopdacbiet{
    display: grid;
    grid-template-columns: 50% 50%;
}

.phan2{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 10px;
}
.phan2 .thongtin{
    color: white;
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.phan2 .searchuser{
    display: grid;
    grid-template-columns: 17% 63% 20%;
    margin: 10px;
    align-items: center;
    border: 1px solid #555555;
    border-radius: 10px;
}

.phan2 .searchuser img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-left: 30px;
}
.phan2 .searchuser button{
    color: white;
    width: 130px;
    background-color: blue;
    height: 50px;
    border-radius: 10px;

}
.searchuser .okla{
    position: relative;
    display: flex;
}
.searchuser .okla .hienonl{
    top: 100px;
    width: 12px;
    height: 12px;
    margin-left: -13px;
    margin-top: 40px;
    border-radius: 50px;
    height: 12px;
    background-color: rgb(105, 237, 105);
    

}
.phan2 .thongtinuser h5{
 margin: 0;
 padding: 0;
}
.baiviet{
    background-color: #222222;
    border: 2px solid #555555;
    border-radius: 10px;
}
.baiviet .anhbaiviet img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.phan2 .searchbaiviet{
    align-items: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.phan2 .searchbaiviet img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
}
.phan2 .searchbaiviet h5{
  margin: 0;
  padding: 0;
}




.phan2 .luotlike{
    display: grid;
    grid-template-columns: 60% 24% 16%;
    color: white;
    margin: 15px 0 0 20px;
}
.cacicon{
    display: flex;
}
.phan2 .luotlike{
    border-bottom:1px solid #2b2b2b; ;

}
.phan2 .luotlike i {
    font-size: 20px;
    margin: 3px;
}