main{
    height: 93vh;
    overflow-y: scroll;
    margin-top: 50px;
}
.img-bia{
    width: 1100px;
    height: 450px;
    background-color: #555555;
    border-radius: 10px;
}
@media only screen and (max-width: 1100px) {
    .img-bia{
        width: 100vw;
        height: calc(100vw * 0.4); /* 3/4 chiều rộng */

    }
  }
.div-anhbia{
    width: 100%;
    height: 90vh;
    background-color: #222222;
}
.tenvabannguoidung p:first-child{
    font-size: 30px;
    font-weight: bold;
}
.list-img-friend {
    display: flex;
    position: relative;
    margin-left: 10px;
}

.img-overlay {
    padding: 1px;
    background-color: black;
    width: 40px; /* Có thể điều chỉnh kích thước hình ảnh */
    height: 40px; /* Có thể điều chỉnh kích thước hình ảnh */
    border-radius: 50%; /* Giữ hình tròn */
    margin-left: -8px; /* Đè lên một nửa hình trước */
}
.div2indiv2{
    width: 1100px;
    position: absolute;
    top: 400px;
    display: flex;
    align-items: end;
    gap: 12px;
    justify-content: space-between;
    border-bottom: 1px solid #555555;
    /* padding-bottom: 12px; */
    padding: 0 16px 12px;

}
.akjsbdmhjasdnasdnkdhasj{
    display: flex;
    align-items: end;
}
.akjdjasdhas{
    display: flex;
    top: 0;
}
@media only screen and (max-width: 1100px) {
    .div2indiv2{
        width: 100vw;
        top: calc(100vw * 0.35);


    }
    .div-anhbia{
        width: 100%;
        height: calc(100vw * 0.35 + 230px);
        background-color: #222222;
    }

  }
  @media only screen and (max-width: 850px) {
    .div2indiv2{
        width: 100vw;
        top: calc(100vw * 0.35);
        flex-direction: column;
        align-items: center;

    }
    .akjsbdmhjasdnasdnkdhasj{
        flex-direction: column;
        align-items: center;
    }
    .hakjdhas{
        flex-direction: column;
        align-items: center;
    }
    .tenvabannguoidung{
        text-align: center;
    }
    .list-img-friend{
        align-items: center;
    }
    .div-anhbia{
        width: 100%;
        height: calc(100vw * 0.35 + 400px);
        background-color: #222222;
    }

  }
  @media only screen and (max-width: 700px) {
    .list-option-user .gioithieu,
    .banbe,
    .anh,
    .video,
    .dangtheogioi{
        display: none;
    }
  }
.div-button-profile {
    display: flex;
    gap: 10px;
}
.div-button-profile button{
    padding: 5px 10px;
    background-color: #555555;
    border-radius: 10px;
}
.div-button-profile button:first-child{
    background-color: blue;
    padding: 5px 10px;

}
.list-option-user p{
    padding:5px 10px;
    border-radius: 10px;
}
.list-option-user p:hover{
    background-color: #555555;
    cursor: pointer;

}
.div2-profile{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.alksjdklasjdkas{
    color: white;
    width: 1100px;
    display: flex;
    gap: 10px;
}
.alksjdklasjdkas .divdaucuaal{

    width: 40%;
}
.alksjdklasjdkas .div2cuaal{
    width: 60%;
    height: 93vh;
    /* overflow-y: scroll; */

}
.álkdjlaksdlkjasldjas{
    background-color: #222222;
    padding: 10px;
}
.álkdjlaksdlkjasldjas .akjd{
    font-size: 20px;
    font-weight: bold;
}
.ịuvsak{
    margin: 0 10px;
}
.álkdjlaksdlkjasldjas .ịuvsak button{
    background-color: #555555;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
@media only screen and (max-width: 950px) {
   .divdaucuaal{
    display: none;
   }
   .alksjdklasjdkas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .alksjdklasjdkas .div2cuaal{
    width: 90vw;
    height: 90vh;
    overflow-y: scroll;
}
  }
  .sljkadhnd{

    display: grid;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr); /* Dùng repeat để dễ bảo trì */
  }
  .sljkadhnd img{
    width: 130px;
    height: 130px;
  }
  .alkjdkasjdkmas{
    background-color: #222222;
    margin-top: 10px;
  }
  .ádlashdmasjdklajdlkas{
    background-color: #222222;
    margin-top: 10px;
    padding: 10px;
  }
  .lseiufsmsjoc .ưoeijaskcsa img{
    width: 130px;
    height: 130px;
    border-radius: 5px;
  }
  .lseiufsmsjoc{
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr); /* Dùng repeat để dễ bảo trì */
  }
  .titleasjnd p:first-child{
    font-size: 20px;
    font-weight: bold;
  }
  .titleasjnd{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #262628;
    border-radius: 10px;
}
.scrsoll{
    position: sticky;
    top: 0;
    right: 0;

    overflow-y: scroll;
}
.stoasasdsa{
    background-color: #222222;
    margin-top: 10px;
    padding: 10px;
}
.alwiuldksn{
    display: flex;
    overflow: hidden; 
    gap: 10px;
}
.kuaydkjdh{

    flex-shrink: 0; 
    width: 30%;
}
.kuaydkjdh video{
    width: 100%;
    border-radius: 5px;
}
.stoasasdsa .aljehs p{
    font-size: 20px;
    font-weight: bold;
}
.detail-newfeed{
    background-color: #222222;
}
.infor-user-post p{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.infor-user-post p:first-child{
    font-size: 15px;
    font-weight: bold;
}
.infor-user-post-incomment p{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .infor-user-post-incomment p:first-child{
    font-weight: bold;
    font-size: 15px;
  }
  .close-post:hover{
    background-color: #444444;
}
.content-post{
    font-size: 15px;
    color: white;
    margin-left: 8px;
    margin-bottom: 10px;
  }
  .img-post{
    text-align: center;
    overflow: hidden;
}
.img-post img{
    /* height: auto; */
    max-height: 400px;
    width: 100%;
}
.hienthi-like-comment{
    border-bottom:0.5px solid #444444 ;
}
.lammo{
    background-color: rgba(0, 0, 0, 0.7);
}
.lammo-comment{
    z-index: 500;
}
.lammo-comment{
    z-index: 500;
}
.view-comment{
    width: 50%;
    height: 600px;
    background-color: #222222;
    z-index: 600;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 1000px) {
    .view-comment{

        width: 70%;
        height: 600px;

    }
  }
  @media only screen and (max-width: 700px) {
    .view-comment{

        width: 100%;
        height: 600px;

    }
  }
  .div-coment-post{
    height: 431.4px;
    overflow-y: scroll;
  }
  .div-title-post{
    border-bottom: 0.5px solid #444444;
  }
  .div-title-post i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #444444;
    border-radius: 50px;
    color: #918f8f;
  }
  .title-post-incomment{
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .infor-user-post-incomment p{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .infor-user-post-incomment p:first-child{
    font-weight: bold;
    font-size: 15px;
  }
  .content-post{
    font-size: 15px;
    color: white;
    margin-left: 8px;
    margin-bottom: 10px;
  }
  .hienthi-like-comment{
    border-bottom:0.5px solid #444444 ;
}
.item-user-commnt .content p{
    padding: 0;
    margin: 0;
    font-size: 12px;

}
.item-user-commnt .content .username-cmt:first-child{
    font-size: 15px;
    font-weight: bold;
}
.item-user-commnt .content{
    min-width: 80px;
    padding: 10px;
    background-color: #444444;
    border-radius: 10px;
}
.date-comment{
    right: 0;
    bottom: -15px;
    left: 0;
    font-size: 12px;
}
.image-comment {
    max-height: 200px;
  }
  .option-icon-camxuc{
    padding: 10px 0;
}
.infor-nguoithacamxuc{
    color: white;
  }
  .infor-nguoithacamxuc .name-user p:first-child{
    font-size: 15px;
    font-weight: bold;
  }
  .item-icon-camxuc-nguoitha{
    position: absolute;
    font-size: 15px;
    bottom: 0;
    left: 30px;
  }
.option-icon-camxuc .items-center{
    padding: 5px;
    background-color: #444444;
    border-radius: 10px;
}
.option-icon-camxuc p{
    font-size: 12px;
}
.option-icon-camxuc .items-center:hover{
    cursor: pointer;
}
.div-list-camxuc{
    height: 469px;
}
@media only screen and (max-width: 535px) {
    .option-icon-camxuc p{
        display: none;
    }
    .option-icon-camxuc p:first-child{
        display: block;
    }
  }
  .option-icon-camxuc .active{
    background-color: blue;
  }
  .hienonl{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: green;
    bottom: 10px;
    right: 20px;
  }