<main>
    <div class="phandau" id="loadlai">
    <div class="divanhbia">
        <img src="https://i.imgur.com/qV5uuOz.jpg" alt="">

    </div>
    <div class="thongtincanhandautrang">
        <div class="anhdaidien">
            <img src="{{user.avatar}}" alt="">
            <div class="hienonl" *ngIf="user.online === 1"></div>
        </div>
        <div class="tennguoidung">
            <div class="ten">
                <h1>{{user.username}}</h1>
            </div>
            <div class="banbe">
                <p>{{allfriend.length}} người bạn -  </p>
                <p> {{user.banchung}} bạn chung</p>
            </div>
            <div class="hinhbanbe">
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">

                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">


            </div>
        </div>
        <div class="cactuychon">
            <button>thêm bạn bè</button>
            <button>theo giõi</button>
            <i class="bi bi-chevron-compact-down"></i>
        </div>
    </div>
    <div class="chedoxem">
        <div class="cacluachonxem">
            <ul>
                <li>bài viết</li>
                <li>giới thiệu</li>
                <li>bạn bè</li>
                <li>Ảnh</li>
                <li>Video</li>
                <li>Check in</li>
                <li> xem thêm
                    <select>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </li>
            </ul>
        </div>
        <div>

        </div>
        <div class="baocao">
           <i>---</i>
        </div>
    </div>
</div>
<div class="phanhai">
    <div class="cacthongtinnguoidung">
        <div class="divgioithieu">
            <h3>giới thiệu</h3>
            <div class="hocvan">
                <i class="fa-solid fa-school"></i> <p>đã học tại ...</p>
            </div>
            <div class="songtai">
                <i class="fa-solid fa-house"></i> <p>sống tại ...</p>
            </div>
            <div class="nguoitheodoi">
                <i class="bi bi-rss"></i> <p>có ... người theo dõi</p>
            </div>
            <div class="các liên kết khác">
                <i class="fa-brands fa-instagram"></i> <p>name intagram</p>
            </div>
            <div class="storynguoidung">
            
                        <div class="hinstory">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                            <p>colection</p>
                        </div>
                  
                        <div class="hinstory">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                            <p>colection</p>
        
                        </div>
                    
                        <div class="hinstory">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                            <p>colection</p>
        
                        </div>
                    
            </div>
        </div>
        <div class="cacanhnguoidung">
            <div class="tieudeanh">
                <div class="chitiettieudeanh">
                    <h3>Ảnh</h3>
                    <i></i>
                    <a>xem tất cả ảnh</a>
                </div>
              

            </div>
            <div class="tatcaanhnguoidung">
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                </div>
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                </div>
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                </div>
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                </div>
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                </div>
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                </div>
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                </div>
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                </div>
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="">
                </div>
            </div>
        </div>
        <div class="hienbanbenguoidung">
            <div class="phandaubanbe">
                <div class="tieudebanbe">
                    <h3>bạn bè</h3>
                    <i></i>
                    <a>xem tất cả bạn bè</a>
                </div>
                <div class="sobanchung">
                    <p>{{allfriend.length}} bạn bè ({{user.banchung}} bạn chung)</p>
                </div>
            </div>
            <div class="tatcabanbeoday" *ngIf="allfriend">
                <div class="chitietbanbecuaban" *ngFor="let friend of allfriend">
                    <img src="{{friend.avatar}}" alt=""  routerLink="/profileuser/{{friend._id}}">
                    <h6>{{friend.username}}</h6>
                    <p *ngIf="friend.banchung > 0">{{friend.banchung}} bạn chung</p>
                </div>
                
            </div>
        </div>
        <p style="color: white;"><i class="fa-brands fa-github"></i>huuphuochub</p>
    </div>
   
    <div class="cacbaivietnguoidungdang">
        <div class="tuongtacvoinguoidung">
            <div class="noidenhap">
                <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
                <input type="text" placeholder="write something to nguoi dung">
            </div>
            <div class="cactuychontuongtacnguoidung">
                <ul>
                    <li><i class="fa-solid fa-video" style="color: red;"></i>video trực tiếp</li>
                    <li><i class="fa-solid fa-image" style="color: green;"></i>ảnh </li>
                    <li><i class="fa-solid fa-face-smile" style="color: yellow;"></i>cảm xúc/hoạt động</li>
                </ul>
            </div>
        </div>
        <div class="bolocbaiviet">
            <h3>bài viết</h3>
            <i></i>
            <button><i class="fa-solid fa-sliders"></i>  bộ lọc</button>
        </div>
        <div class="cacbaiviet">
            <div class="thongtinbaivietotrangcanhan">
                <div class="hinhdaidien">
                    <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
                </div>
                <div class="thongtinnguoidang">
                    <h5>name</h5>
                    <p>5 tháng 1</p>
                </div>
                <div> </div>
                <div class="luachon">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            <div class="tieudebaiviet">
                <p>bài viết này nocap</p>
            </div>
            <div class="hinhanhbaiviet">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="" class="image-baiviet">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="" class="image-baiviet">
            </div>
            <div class="luottuongtacbaiviet">
                <div class="luotlike">
                    <div class="cacicon">            
                        <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                        <i class="fa-solid fa-heart" style="color: red;"></i>
                        <p class="xemlike">bạn và 40 người khác</p>
                    </div>
                    <div  class="xembl" >
                        10 bình luận
                    </div>
                    <div class="xemshare">
                        9 luọt chia sẻ
                    </div>
                </div>
            </div>
            <div class="tuongtacvoibaiviet">
                <div><i class="fa-regular fa-thumbs-up"></i>thích</div>
                <div><i class="fa-regular fa-comment"></i> bình luận</div>
                <div><i class="fa-regular fa-share-from-square"></i> chia sẻ</div>
            </div>
        </div>
        <div class="cacbaiviet">
            <div class="thongtinbaivietotrangcanhan">
                <div class="hinhdaidien">
                    <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
                </div>
                <div class="thongtinnguoidang">
                    <h5>name</h5>
                    <p>5 tháng 1</p>
                </div>
                <div> </div>
                <div class="luachon">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            <div class="tieudebaiviet">
                <p>bài viết này nocap</p>
            </div>
            <div class="hinhanhbaiviet">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="" class="image-baiviet">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="" class="image-baiviet">
            </div>
            <div class="luottuongtacbaiviet">
                <div class="luotlike">
                    <div class="cacicon">            
                        <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                        <i class="fa-solid fa-heart" style="color: red;"></i>
                        <p class="xemlike">bạn và 40 người khác</p>
                    </div>
                    <div  class="xembl" >
                        10 bình luận
                    </div>
                    <div class="xemshare">
                        9 luọt chia sẻ
                    </div>
                </div>
            </div>
            <div class="tuongtacvoibaiviet">
                <div><i class="fa-regular fa-thumbs-up"></i>thích</div>
                <div><i class="fa-regular fa-comment"></i> bình luận</div>
                <div><i class="fa-regular fa-share-from-square"></i> chia sẻ</div>
            </div>
        </div>
        <div class="cacbaiviet">
            <div class="thongtinbaivietotrangcanhan">
                <div class="hinhdaidien">
                    <img src="https://i.pinimg.com/originals/9a/63/e1/9a63e148aaff53532b045f6d1f09d762.webp" alt="">
                </div>
                <div class="thongtinnguoidang">
                    <h5>name</h5>
                    <p>5 tháng 1</p>
                </div>
                <div> </div>
                <div class="luachon">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            <div class="tieudebaiviet">
                <p>bài viết này nocap</p>
            </div>
            <div class="hinhanhbaiviet">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="" class="image-baiviet">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPl6cN04e_V_Qgy4ik4CHODlay32-cYL5MMw&s" alt="" class="image-baiviet">
            </div>
            <div class="luottuongtacbaiviet">
                <div class="luotlike">
                    <div class="cacicon">            
                        <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                        <i class="fa-solid fa-heart" style="color: red;"></i>
                        <p class="xemlike">bạn và 40 người khác</p>
                    </div>
                    <div  class="xembl" >
                        10 bình luận
                    </div>
                    <div class="xemshare">
                        9 luọt chia sẻ
                    </div>
                </div>
            </div>
            <div class="tuongtacvoibaiviet">
                <div><i class="fa-regular fa-thumbs-up"></i>thích</div>
                <div><i class="fa-regular fa-comment"></i> bình luận</div>
                <div><i class="fa-regular fa-share-from-square"></i> chia sẻ</div>
            </div>
        </div>
    </div>
    
</div>

</main>